
        <script src="{{ site.url }}/assets/js/vendor/simple-share.min.js"></script>
        <script>
            var share = new SimpleShare({
                url: '{{ site.url }}{{ page.url }}',
                title: '{{ page.title }}',
                content: '文章内容不错'
            });
        </script>
        <div class="row text-center">
            <section class="notepad-post-share">
                <a href="javascript:share.weibo();"><i class="fa fa-weibo"></i></a>
                <!--<a href="javascript:share.qzone();">qzone<i class="fa fa-google-plus"></i></a>-->
                <a href="javascript:share.tqq();"><i class="fa fa-qq"></i></a>
                <a href="javascript:share.renren();"><i class="fa fa-renren"></i></a>
                <!--<a href="javascript:share.douban();"><i class="fa fa-douban"></i></a>-->
                <a href="javascript:share.facebook();"><i class="fa fa-facebook"></i></a>
                <a href="javascript:share.twitter();"><i class="fa fa-twitter"></i></a>
                <a href="javascript:share.linkedin();"><i class="fa fa-linkedin"></i></a>
                <a href="javascript:share.weixin();"><i class="fa fa-weixin"></i></a>
            </section>
        </div>
